## Step 1: Import the necessary packages

In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

## Step 2: Read in the blocking_ab_image_data excel/csv file as a dataframe using pandas

In [11]:
file = pd.read_csv('Blocking_Ab_Exp_Image_data.csv')
output_df = pd.DataFrame(file)
output_df = output_df.loc[:, ~output_df.columns.str.contains('^Unnamed')]

output_df

,Image,label,area,mean,StdDev,Min,Max,IntDen,RawIntDen,Cell
0,1,B01_1_MIP.czi:c:4/4 - B01_1_MIP.czi #1,2614.994,128.494,88.779,44,1426,336010.922,6520812,1
1,2,B01_1_MIP.czi:c:3/4 - B01_1_MIP.czi #1,2614.994,209.618,162.908,71,1837,548149.992,10637699,1
2,3,B01_1_MIP.czi:c:2/4 - B01_1_MIP.czi #1,2614.994,184.399,135.956,82,3419,482202.095,9357878,1
3,4,B01_1_MIP.czi:c:4/4 - B01_1_MIP.czi #1,4043.275,152.420,133.390,0,2396,616274.937,11959769,2
4,5,B01_1_MIP.czi:c:3/4 - B01_1_MIP.czi #1,4043.275,220.644,189.774,0,2430,892122.608,17313020,2
...,...,...,...,...,...,...,...,...,...,...
979,241,B32_3_MIP.czi:c:3/4 - B32_3_MIP.czi #1,2024.162,361.739,311.244,82,3410,732218.485,14209833,3
980,242,B32_3_MIP.czi:c:2/4 - B32_3_MIP.czi #1,2024.162,137.604,91.003,60,2734,278533.517,5405374,3
981,243,B32_3_MIP.czi:c:4/4 - B32_3_MIP.czi #1,2678.220,115.173,107.662,27,1897,308457.541,5986096,4
982,244,B32_3_MIP.czi:c:3/4 - B32_3_MIP.czi #1,2678.220,275.506,232.382,75,2607,737866.578,14319443,4
983,245,B32_3_MIP.czi:c:2/4 - B32_3_MIP.czi #1,2678.220,137.334,116.487,62,5186,367811.529,7137952,4

## Step 3: Make new columns and fill them with information for the following 3 variables:

In [13]:
image_id = []
channel = []
animal_id = []

#what information should go in each column?
#animal id vs. image id?

for i in output_df.index:
    animal_id = np.append(animal_id, output_df["label"][i].split('_')[0])
    channel = np.append(channel, output_df["label"][i].split("-")[0][-4:-1])
    image_id = np.append(image_id, output_df["label"][i].split("_")[1])

output_df["animal_id"] = animal_id
output_df["channel"] = channel
output_df["image_id"] = image_id

output_df

,Image,label,area,mean,StdDev,Min,Max,IntDen,RawIntDen,Cell,animal_id,channel,image_id
0,1,B01_1_MIP.czi:c:4/4 - B01_1_MIP.czi #1,2614.994,128.494,88.779,44,1426,336010.922,6520812,1,B01,4/4,1
1,2,B01_1_MIP.czi:c:3/4 - B01_1_MIP.czi #1,2614.994,209.618,162.908,71,1837,548149.992,10637699,1,B01,3/4,1
2,3,B01_1_MIP.czi:c:2/4 - B01_1_MIP.czi #1,2614.994,184.399,135.956,82,3419,482202.095,9357878,1,B01,2/4,1
3,4,B01_1_MIP.czi:c:4/4 - B01_1_MIP.czi #1,4043.275,152.420,133.390,0,2396,616274.937,11959769,2,B01,4/4,1
4,5,B01_1_MIP.czi:c:3/4 - B01_1_MIP.czi #1,4043.275,220.644,189.774,0,2430,892122.608,17313020,2,B01,3/4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,241,B32_3_MIP.czi:c:3/4 - B32_3_MIP.czi #1,2024.162,361.739,311.244,82,3410,732218.485,14209833,3,B32,3/4,3
980,242,B32_3_MIP.czi:c:2/4 - B32_3_MIP.czi #1,2024.162,137.604,91.003,60,2734,278533.517,5405374,3,B32,2/4,3
981,243,B32_3_MIP.czi:c:4/4 - B32_3_MIP.czi #1,2678.220,115.173,107.662,27,1897,308457.541,5986096,4,B32,4/4,3
982,244,B32_3_MIP.czi:c:3/4 - B32_3_MIP.czi #1,2678.220,275.506,232.382,75,2607,737866.578,14319443,4,B32,3/4,3
983,245,B32_3_MIP.czi:c:2/4 - B32_3_MIP.czi #1,2678.220,137.334,116.487,62,5186,367811.529,7137952,4,B32,2/4,3

## Step 4: Create a new column "norm_mean" that is the mean column divided by the area column

In [15]:
norm_mean = []

for i in output_df.index:
    mean_float = float(output_df["mean"][i])
    area_float = float(output_df["area"][i])
    norm_mean = np.append(norm_mean, mean_float/area_float)

output_df["norm_mean"] = norm_mean
output_df

,Image,label,area,mean,StdDev,Min,Max,IntDen,RawIntDen,Cell,animal_id,channel,image_id,norm_mean
0,1,B01_1_MIP.czi:c:4/4 - B01_1_MIP.czi #1,2614.994,128.494,88.779,44,1426,336010.922,6520812,1,B01,4/4,1,0.049137
1,2,B01_1_MIP.czi:c:3/4 - B01_1_MIP.czi #1,2614.994,209.618,162.908,71,1837,548149.992,10637699,1,B01,3/4,1,0.080160
2,3,B01_1_MIP.czi:c:2/4 - B01_1_MIP.czi #1,2614.994,184.399,135.956,82,3419,482202.095,9357878,1,B01,2/4,1,0.070516
3,4,B01_1_MIP.czi:c:4/4 - B01_1_MIP.czi #1,4043.275,152.420,133.390,0,2396,616274.937,11959769,2,B01,4/4,1,0.037697
4,5,B01_1_MIP.czi:c:3/4 - B01_1_MIP.czi #1,4043.275,220.644,189.774,0,2430,892122.608,17313020,2,B01,3/4,1,0.054571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,241,B32_3_MIP.czi:c:3/4 - B32_3_MIP.czi #1,2024.162,361.739,311.244,82,3410,732218.485,14209833,3,B32,3/4,3,0.178710
980,242,B32_3_MIP.czi:c:2/4 - B32_3_MIP.czi #1,2024.162,137.604,91.003,60,2734,278533.517,5405374,3,B32,2/4,3,0.067981
981,243,B32_3_MIP.czi:c:4/4 - B32_3_MIP.czi #1,2678.220,115.173,107.662,27,1897,308457.541,5986096,4,B32,4/4,3,0.043004
982,244,B32_3_MIP.czi:c:3/4 - B32_3_MIP.czi #1,2678.220,275.506,232.382,75,2607,737866.578,14319443,4,B32,3/4,3,0.102869
983,245,B32_3_MIP.czi:c:2/4 - B32_3_MIP.czi #1,2678.220,137.334,116.487,62,5186,367811.529,7137952,4,B32,2/4,3,0.051278

## Step 5: Create separate dataframes for each channel 
(tmem_df is channel 3, iba1_df is channel 4, and cd68_df is channel 2)

In [77]:
tmem_df = output_df[output_df['channel'] == '3/4']
cd68_df = output_df[output_df['channel'] == '2/4']
iba1_df = output_df[output_df['channel'] == '4/4']

In [78]:
# # ignore this code
# tmem = []
# iba1 = []
# cd68 = []
# label = []

# for i in range(len(channel)):
#     if channel[i] == '4/4':
#         iba1 = np.append(iba1, output_df[["label","norm_mean"]])
#     # how would I grab only specific columns or the whole row?
#     elif channel[i] == '3/4':
#         tmem  = np.append(tmem, output_df["label"][i])
#     elif channel[i] == '2/4':
#         cd68 = np.append(cd68, output_df['label'][i])

# tmem_df = pd.DataFrame(tmem)
# cd68_df = pd.DataFrame(cd68)
# iba1_df = pd.DataFrame(iba1)

# print(tmem_df)
# print(iba1_df)

## Step 6: Create a normalized mean column in the tmem df and cd68 df by subtracting the iba1 value from relevant channel's values

In [79]:
norm_mean_tmem = []
norm_mean_cd68 = []

for i in range(0, len(output_df), 3):
    iba1_mean = float(output_df["norm_mean"][i])
    cd68_mean = float(output_df["norm_mean"][i+1])
    tmem_mean = float(output_df["norm_mean"][i+2])
    norm_mean_tmem = np.append(norm_mean_tmem, tmem_mean - iba1_mean)
    norm_mean_cd68 = np.append(norm_mean_cd68, cd68_mean - iba1_mean)

tmem_df["norm_mean_tmem"] = norm_mean_tmem
cd68_df["norm_mean_cd68"] = norm_mean_cd68

<ipython-input-79-b22d50276c9a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmem_df["norm_mean_tmem"] = norm_mean_tmem
<ipython-input-79-b22d50276c9a>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd68_df["norm_mean_cd68"] = norm_mean_cd68

## Step 7: Combine the tmem df and cd68 into a master final dataframe

In [80]:
tmem_df = tmem_df.reset_index()
cd68_df = cd68_df.reset_index()

In [81]:
tmem_df['norm_mean_cd68'] = cd68_df.reset_index()['norm_mean_cd68']

In [82]:
merged_df = tmem_df

In [84]:
merged_df = merged_df[['label', 'animal_id', 'Cell', 'image_id', 'norm_mean_tmem', 'norm_mean_cd68']]

In [92]:
merged_df

,label,animal_id,Cell,image_id,norm_mean_tmem,norm_mean_cd68
0,B01_1_MIP.czi:c:3/4 - B01_1_MIP.czi #1,B01,1,1,0.021379,0.031023
1,B01_1_MIP.czi:c:3/4 - B01_1_MIP.czi #1,B01,2,1,0.006129,0.016873
2,B01_1_MIP.czi:c:3/4 - B01_1_MIP.czi #1,B01,3,1,0.014696,0.026970
3,B01_1_MIP.czi:c:3/4 - B01_1_MIP.czi #1,B01,4,1,0.020811,0.023199
4,B01_2_MIP.czi:c:3/4 - B01_2_MIP.czi #1,B01,1,2,0.010045,-0.000464
...,...,...,...,...,...,...
323,B32_2_MIP.czi:c:3/4 - B32_2_MIP.czi #1,B32,4,2,0.007211,0.074341
324,B32_3_MIP.czi:c:3/4 - B32_3_MIP.czi #1,B32,1,3,0.007608,0.060793
325,B32_3_MIP.czi:c:3/4 - B32_3_MIP.czi #1,B32,2,3,-0.000547,0.070164
326,B32_3_MIP.czi:c:3/4 - B32_3_MIP.czi #1,B32,3,3,0.004354,0.115084
327,B32_3_MIP.czi:c:3/4 - B32_3_MIP.czi #1,B32,4,3,0.008275,0.059866

## Step 8: Identifying the range of values for a given channel (tmem or cd68)

In [85]:
## plotting a histogram of tmem column and then also of cd68 column

## choose values that will give us a good distribution of tmem hi/mid/low cells
## and then also for cd68

## Step 9: Loop through the merged df and assign a cell a value for tmem and cd68

In [89]:
## NEW column in merged df which will contain a "string" that is either "high", "mid", or "low"

## Step 10: Import sample metadata

In [93]:
## bring in the sample_metadata.csv file as a pandas dataframe

## Step 11: Calculate the percentage of cells that are tmem high, cd68 low in every animal

In [94]:
## critical!!!

## Step 12: Join sample metadata with merged df

In [ ]:
## easy to merge by animal_id